# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/

# Env
.env*.local
.env

# Debug
npm-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

.vercel
